<%- include('templates/header')-%>

    <div class="container">
        <section id="head">
            <h3>
                <%=pop.judulBerita %>
            </h3>
            <img class="img-header" src="<%=pop.urlGambar %>" alt="">
            <br>
    </div>
    </section>

    <section id="berita">
        <div class="container berita">
            <p>
                <%=pop.isiBerita1 %>
            </p>
            <br>
            <p>
                <%=pop.isiBerita2 %>
            </p>
            <br>
            <p>
                <%=pop.isiBerita3 %>
            </p>
            <a href="/" class="btn btn-outline-info nav-btn btn-all">
                Kembali</a>
        </div>
    </section>

    <%komentar.forEach(function(item) {%>
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-comment">
                        <hr />
                        <ul class="comments">
                            <li class="clearfix">
                                <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
                                <div class="post-comments">
                                    <p class="meta">
                                        <%=item.createdAt%> Anonim
                                    </p>
                                    <p>
                                        <%=item.comment%>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/deletecomment/<%=item.id%>"><button type="button"
                                                    class="btn btn-sm btn-outline-danger">Delete comment</button></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <%});%>

            <section id="comment">
                <div class="container">
                    <form method="POST" action="/comment/<%=pop.id %>">
                        <div class="mb-3 blog-comment">
                            <textarea placeholder="Tinggalkan komentar..." class="form-control" name="comment"
                                id="comment" rows="3"></textarea>
                        </div>
                        <a href="/newspage?id=<%=pop.id%>">
                            <button type="submit" class="btn btn-primary comment-btn btn-all">Kirim</button></a>
                    </form>
                </div>
            </section>

            <%- include('templates/footer')-%>